<h1>めんそ〜れ</h1>
 <div class='row'>
  <div class='col-xs-7'>
    <hr class="cp_hr07" />
     <%= image_tag 'about04.jpg', class:"med-pic" %>
    <hr class="cp_hr07" />
    </br>
     <p>沖縄の観光、グルメのおすすめ紹介共有サイト。 ガイドブックでも紹介される王道の場所だけではなく</p>
     <p>ガイドブックに紹介されてなさそうな穴場を案内、共有サイトです。</p>
     </br>
     <p>めんそーれとは主に沖縄、鹿児島の離島で使われる方言で「いらっしゃいませ」という意味です。</p>
     </br>
    </div>
  </div>