<div class="row">
  <div class='top-message col-md-offset-3 col-md-6'>
    <div class= "top">
      
  <div id="box">
    <div id="images">
      <div class="image1"></div>
      <div class="image2"></div>
      <div class="image3"></div>
    </div>
   </div>
  </div>
 </div>
</div>

