<div class="container">
    <h2><%= params[:search] %></h2>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Opinion</th>
            </tr>
        </thead>
        <tbody>
            <% @search_results.each do |search_result| %>
            <tr>
                <td>
                    <%= attachment_image_tag(search_result.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size:'40x40') %>
                </td>
                <td>
                    <%= search_result.title %>
                </td>
                <td>
                    <%= search_result.body %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>