<div class='row'>
  <div class='col-xs-3'>
<%= render 'layouts/errors', obj: @mensore %>


    <h2>User info</h2>
    <%= render 'users/info', user: current_user %>

    <h2>New</h2>
    <%= render 'form', mensore: @mensore %>


    
    <h2>mensore</h2>

    <%= render 'index', mensores: @mensores %>
  </div>
</div>
